@import "mixins"
@import "variables"
@import "colors-common"

*
  box-sizing border-box

body
  font-family $font_family_sans
  font-size 16px
  color $theme_font_color
  background $theme_bg_color

a
  color: lighten($bootstrap_blue, 5%)
  &:hover
    color: darken(@color, 15%)

.modal-content
  border-radius: 2px
  color #444

.bootstrap-switch-
  &label
    color #A0A0A0 !important
  &dark
    color: rgba(240, 240, 240, 1)
    background: rgba(45, 50, 55, 1)
  &light
    color: rgba(45, 50, 55, 1)
    background: rgba(240, 240, 240, 1)

.util-
  &full-width
    width 100% !important

#nc-message-form
  position fixed
  bottom 1em
  right 2em
  left 2em
  z-index 1

  input[type="text"]
    border-width 1px
    border-style solid
    border-color #606060
    background $theme_bg_accent
    padding 0.5em 1em

  span.helper-text
    margin-top 0.5em

#nc-messages-container
  position relative
  padding 0
  margin 1em 1em 0
  overflow auto

#nc-chat-
  &settings-btn
    cursor-pointer()
    position absolute
    top 1em
    right 2em
    z-index 1
    &:hover
      color $theme_font_darker

.nc-chat-
  &enter-text::before,
  &exit-text::before
    font-size 0.85em
    display inline-block
    font-family "FontAwesome"
    margin-right 0.5em
  &enter-text::before
    content '\f090'
  &exit-text::before
    content '\f08b'
    transform: rotate(180deg)
  &message-item
    list-style none
    padding 0
    border-radius 2px
    margin-bottom 0.25em
